# Acquisition of Data from Twitter
### Using web crawling method

In [26]:
import GetOldTweets3 as got
import pandas as pd

In [3]:
# Hashtags of Laptop Brands Tweets:
# 1) HP -> hpspectre, hpenvy, hpelitebook
# 2) Apple -> macbookpro, mackbookair
# 3) Dell -> dellinspiron, dellxps13, dellxps15
# 4) Asus -> zenbook, vivobook, studiobook
# 5) Lenovo -> thinkpad, lenovoyoga
# 6) Acer -> acerswift7, aceraspire, acerswift3, acerswift5

### HP Laptop Tweets

In [4]:
text_query = 'hpspectre'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df1 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df1['model'] = 'HP Spectre'
print(df1.shape)
df1.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-28 19:30:02+00:00,90s fun for the kids #HP #HPSpectre #laptops #...,HP Spectre
1,2020-05-28 04:38:28+00:00,"Save $200 on the HP Spectre x360, Now $1349.99...",HP Spectre

In [5]:
text_query = 'hpenvy'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df2 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df2['model'] = 'HP Envy'
print(df2.shape)
df2.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-26 20:20:48+00:00,在宅ワーク 一色ですね！^^；,HP Envy
1,2020-05-26 18:19:17+00:00,Found my first pc for content creating...or wh...,HP Envy

In [6]:
text_query = 'hpelitebook'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df3 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df3['model'] = 'HP Elitebook'
print(df3.shape)
df3.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-28 14:37:12+00:00,"I think the $HPQ sell off is an overreaction, ...",HP Elitebook
1,2020-05-27 12:45:31+00:00,Unbeatable Deals... Hp folio 13 intel core i5 ...,HP Elitebook

### Apple Laptop Tweets

In [7]:
text_query = 'macbookpro'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df4 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df4['model'] = 'Macbook Pro'
print(df4.shape)
df4.head(2)

(2000, 3)

,timestamp,text,model
0,2020-05-29 23:59:33+00:00,I just put it on my MacBook Pro this morning. ...,Macbook Pro
1,2020-05-29 23:59:10+00:00,I just don’t know which one to buy I really wa...,Macbook Pro

In [8]:
text_query = 'macbookair'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df5 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df5['model'] = 'Macbook Air'
print(df5.shape)
df5.head(2)

(2000, 3)

,timestamp,text,model
0,2020-05-29 23:58:55+00:00,#LIVE: Flora smashing da game and throwing da ...,Macbook Air
1,2020-05-29 23:58:05+00:00,Ahhh pretty stoked my MacBook Air arrived in t...,Macbook Air

### Dell Laptop Tweets

In [9]:
text_query = 'dellinspiron'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df6 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df6['model'] = 'Dell Inspiron'
print(df6.shape)
df6.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 21:48:19+00:00,"Job de hoje, ""Troca de Tela"" Notebook Dell Ins...",Dell Inspiron
1,2020-05-28 05:44:23+00:00,Two powerful devices. One elegant design. Dell...,Dell Inspiron

In [10]:
text_query = 'dellxps13'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df7 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df7['model'] = 'Dell XPS 13'
print(df7.shape)
df7.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 19:37:53+00:00,Cable Matters 3 Port USB C Hub with Ethernet (...,Dell XPS 13
1,2020-05-29 19:28:34+00:00,Now on eBay Dell XPS 13 9360 Laptop i5-7200U 2...,Dell XPS 13

In [11]:
text_query = 'dellxps15'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df8 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df8['model'] = 'Dell XPS 15'
print(df8.shape)
df8.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 23:53:49+00:00,Dell xps 15 2 in 1,Dell XPS 15
1,2020-05-29 22:00:05+00:00,***New Deal*** Dell XPS 15 9575 2-IN-1 Laptop ...,Dell XPS 15

### Asus Laptop Tweets

In [12]:
text_query = 'zenbook'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df9 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df9['model'] = 'Asus Zenbook'
print(df9.shape)
df9.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 23:17:58+00:00,"ASUS ZenBook 15 Laptop, 15.6” UHD 4K NanoEdge ...",Asus Zenbook
1,2020-05-29 22:52:28+00:00,I think by time @TeamKnowhowUK get around to s...,Asus Zenbook

In [13]:
text_query = 'vivobook'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df10 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df10['model'] = 'Asus Vivobook'
print(df10.shape)
df10.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 23:57:07+00:00,Get ready to #ConquerTheWorld with the all-new...,Asus Vivobook
1,2020-05-29 23:57:05+00:00,Get ready to #ConquerTheWorld with the all-new...,Asus Vivobook

In [14]:
text_query = 'studiobook'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 1500
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df11 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df11['model'] = 'Asus Studiobook'
print(df11.shape)
df11.head(2)

(1500, 3)

,timestamp,text,model
0,2020-05-29 21:20:29+00:00,Although it leaves out a few expected features...,Asus Studiobook
1,2020-05-29 19:28:32+00:00,Just saw this on Amazon: ASUS ProArt StudioBoo...,Asus Studiobook

### Lenovo Laptop Tweets

In [15]:
text_query = 'thinkpad'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df12 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df12['model'] = 'Lenovo Thinkpad'
print(df12.shape)
df12.head(2)

(2000, 3)

,timestamp,text,model
0,2020-05-29 23:59:51+00:00,昨日ThinkPad X1が発売したみたいだけどあまり変わらないのね,Lenovo Thinkpad
1,2020-05-29 23:48:38+00:00,The thinkpad,Lenovo Thinkpad

In [16]:
text_query = 'lenovoyoga'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df13 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df13['model'] = 'Lenovo Yoga'
print(df13.shape)
df13.head(2)

(2000, 3)

,timestamp,text,model
0,2020-05-29 01:33:04+00:00,"USB C to Dual HDMI Adapter 4K @60hz,Type C to ...",Lenovo Yoga
1,2020-05-28 19:37:58+00:00,@Lenovo shame on you!. guys be aware lenovo mo...,Lenovo Yoga

### Acer Laptop Tweets

In [17]:
text_query = 'acerswift7'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df14 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df14['model'] = 'Acer Swift 7'
print(df14.shape)
df14.head(2)

(386, 3)

,timestamp,text,model
0,2020-03-11 12:42:40+00:00,Abbiamo testato per qualche settimana Acer Swi...,Acer Swift 7
1,2020-03-02 15:00:02+00:00,"Acer Swift 7 (SF714-51T-M97L) 14"" Touch Full H...",Acer Swift 7

In [18]:
text_query = 'aceraspire'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df15 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df15['model'] = 'Acer Aspire'
print(df15.shape)
df15.head(2)

(2000, 3)

,timestamp,text,model
0,2020-05-27 09:00:29+00:00,Dank der gestochen scharfen Bilder des FHD-IPS...,Acer Aspire
1,2020-05-25 17:33:27+00:00,https://goodtogodeals.com/product/acer-aspire-...,Acer Aspire

In [19]:
text_query = 'acerswift3'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df16 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df16['model'] = 'Acer Swift 3'
print(df16.shape)
df16.head(2)

(572, 3)

,timestamp,text,model
0,2020-05-28 00:50:58+00:00,Just a few more adjustments and it'll speed up...,Acer Swift 3
1,2020-05-27 01:52:09+00:00,まぁRyzen4000乗っけてくるのは良いとして、10万越えか。この前Xiaomiとか既に出...,Acer Swift 3

In [20]:
text_query = 'acerswift5'
since_date = '2010-01-01'
until_date = '2020-05-30'
count = 2000
# Creation of query object
tweetCriteria = got.manager.TweetCriteria().setQuerySearch(text_query).setSince(since_date).setUntil(until_date).setMaxTweets(count)
# Creation of list that contains all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)
# Creating list of chosen tweet data
text_tweets = [[tweet.date, tweet.text] for tweet in tweets]
df17 = pd.DataFrame(text_tweets, columns=['timestamp', 'text'])
df17['model'] = 'Acer Swift 5'
print(df17.shape)
df17.head(2)

(253, 3)

,timestamp,text,model
0,2020-05-28 09:17:28+00:00,สามารถดูรายละเอียด #AcerSwift5 และรุ่นอื่นๆ เพ...,Acer Swift 5
1,2020-05-06 17:05:00+00:00,Head over to http://tech-fiends.com and check ...,Acer Swift 5

### Combine all brand tweets

In [30]:
#merging all dataframes
df_hp = pd.concat([df1, df2, df3], axis=0)
df_mac = pd.concat([df4, df5], axis=0)
df_dell = pd.concat([df6, df7, df8], axis=0)
df_asus = pd.concat([df9, df10, df11], axis=0)
df_lenovo = pd.concat([df12, df13], axis=0)
df_acer = pd.concat([df14, df15, df16, df17], axis=0)
df_all = pd.concat([df_hp, df_mac, df_dell, df_asus, df_lenovo, df_acer], axis=0)
print(df_all.shape)
df_all.head()

(24711, 3)

,timestamp,text,model
0,2020-05-28 19:30:02+00:00,90s fun for the kids #HP #HPSpectre #laptops #...,HP Spectre
1,2020-05-28 04:38:28+00:00,"Save $200 on the HP Spectre x360, Now $1349.99...",HP Spectre
2,2020-05-24 01:58:02+00:00,Are you ready for a Change? Why not try an alt...,HP Spectre
3,2020-05-22 22:38:01+00:00,"#Amazon is under investigation in #France, dec...",HP Spectre
4,2020-05-20 11:40:37+00:00,Brand new sealed HP SPECTRE X360 i7 512gb 8gb ...,HP Spectre

In [31]:
#change column names to upper case
df_all.columns = map(str.upper, df_all.columns)

In [33]:
#saving the dataframe as csv
df_all.to_csv("twitter_encoded.csv", index = False, header=True, encoding='utf-8-sig')